white = #fff
black = #011
grey = #888

plain-text-0 = white
link-text-0 = #dcf
link-text-hover-0 = #9cf
background-0 = black

code-font-family = "Consolas", sans-serif

input-background-0 = alpha(white, 0.1)

button-0-border = grey 1px solid
button-0 = white
button-0-disabled = grey
button-background-0 = alpha(white, 0.2)
button-0-focused = button-0-border;

switch-active = black
switch-active-background = alpha(white, 0.8)

button-red = #cc7b82;
button-background-red = alpha(button-red, 0.2)
